header
{
	background-color: #0099FF;
	text-align: center;
	padding: 10px;
}
footer
{
	background-color: #0066CC;
	color: white;
	text-align: center;
	font-size: 100%;
	clear: both;
}
body
{
	background-color: #CCFFFF;
}
.bb
{
	background-color: #6666FF;
	float: left;
	color: white;
	text-align: center;
	font-size: 150%;
	width: 33.33%;
}
.bb2
{
	background-color: #6666FF;
	float: left;
	color: white;
	text-align: center;
	font-size: 150%;
	width: 25%;
}
.bb3
{
	background-color: #6699FF;
	float: left;
	color: white;
	text-align: center;
	font-size: 150%;
	width: 100%;
	height: 600px;
}
.gal
{
	background-color: #6666FF;
	float: left;
	color: white;
	text-align: center;
	font-size: 150%;
	width: 100%;
}
a
{
	color: black;	
}
#glowny
{
	height: 400px;
}
#przycisk
{
	background-color: brown;
	border: 2px;
	color: white;
	font-weight: bold;
	padding: 10px;
}
#obraz
{
	float: left;
	color: white;
	text-align: center;
	font-size: 150%;
	width: 25%;
}
.info
{
	background-color: #0099FF;
	color: #000066;
	text-align: center;
	
}
table, td
{
	color: blue;
	background-color: #6666CC ; 
	border-collapse: collapse;
	border:1px solid black ;
	height:50px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.rinf
{
	color: #000066;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.srodek
{
	margin-right:right;
	text-align:center;
}
.skryp
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #6666FF;
	width: 25%;
	
}
.anim 
{
	margin-right: auto;
	margin-left: auto;
    width: 100px;
    height: 100px;
    background-color: yellow;
    -webkit-animation-name: example;
    -webkit-animation-duration: 10s;
    animation-name: example;
    animation-duration: 10s;
}
@-webkit-keyframes example {
    from {background-color: blue;}
    to {background-color: green;}
}





